/* Use any of the CSS combinator selectors to target all the anchor tags and change the text color to re[ */
li a {
    color: red;
}

/* Target only the first <h2> tag and change the text and background color using the combinator selectol */
nav>h2 {
    color: blue;
    background-color: aqua;
}

/* Also, select the first <p> tag and change the text color to red. */
div+p {
    color: red;
}

/* C. Using the attribute selector, perform the following task
1. target the anchor tag with attribute "href" and change color to red and remove the text underline */
a[href] {
    color: red;
    text-decoration: none;
}

/* Target the anchor tag with the attribute of class name active”, change the text color, and provide the text style properties with underlining */

a[class="active"] {
    color: green;
    text-decoration: underline;
}

/* Target the anchor tag with the attribute of the target whose value is _self” and change the background
color. */
a[target="_self"] {
    background-color: yellow;
}

/* D. Using the Pseudo selectors, perform the following task
_ Target the last <p> tag and add ...” i.e. three dots after its value */
p:last-child::after {
    content: "...";
}

/* Target the list of bullet points and change the color of the bullet points without changing the list item's value */
li::marker {
    color: purple;
}

/* Among the three <p> tags target the 2nd <p> tag, select the first letter of the second <p> tag, and change the color to red Also increase the font size to 30px */
p:nth-child(even)::first-letter {
    color: red;
    font-size: 30px;
}